.time-slider input[type=number] {
    display: none; 
}
.time-slider .timeLabel{
    position: relative;
    top: -38px;
}
.timeRangeSlider {
    position: relative;
}
.timeRangeSlider .timeLabel{
    position: absolute;
    top: 0px;    
}

.timeRangeSlider .timeLabel2{
    position: absolute;
    top: 0px;
    right: 0;
    left: auto;
}

.ui-icon-lang:after {
    /* http://icooon-mono.com/14332-地球アイコン9 */
    background-image: url("images/lang.svg");
}

/* Fallback */
.ui-nosvg .ui-icon-lang:after {
    /* http://icooon-mono.com/14332-地球アイコン9 */
    background-image: url("images/lang.png");
}
